<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="bg">
    <% include ../partials/header %>
    <div class="container">

    <div class="newDare">
      <form method="POST">
        <label class="whiteText" for="postDare">Add your own: </label><input type="text" name="postDare" class="newDareField form-text" size=50px style="margin-right: 15px"> 

        <input type="submit" class="btn btn-primary" value="Add">

      </form>
      </br>
    </div>
    </br>
 
    <div class="results whiteText">
      <% results.map(function(result) { %>
            <ul style="padding-left: 0px" id="li-<%= result.dareId %>" >
              <button class="btn btn-danger" onclick="deleteDare(<%= result.dareId %>)">Delete</button> <%= result.dare %>
            </ul>
      <%}); %>
    </div>
  </div>
    
    <% include ../partials/footer %>
  <script type="text/javascript">
      function deleteDare(id) {
        $.ajax({
          url: '/customDares/'+id,
          type: 'DELETE',
          success: function(result) {
            console.log(result)
              //
              $('#li-'+id).remove();
          }
        });
      }
  </script>
  </body>
</html>

<!-- <% results.forEach(function(result) { %>
            <li id="li-<%= result.dareId %>"><button onclick="editTest(<%= result.dareId %>)">Edit</button> <button onclick="deleteDare(<%= result.dareId %>)">Delete</button> <%= result.dare %> <%= result.dareId %></li>
      <%}); %> -->